/* Colors */
.bg-light-brown {
    background-color: #d9d3c6;
}

.bg-dark-brown {
    background-color: #886551;
}

.text-dark-brown {
    color: #886551;
}

/* scroll animation - inital stat and viewport visiblity */
.scroll-fade-up {
    opacity: 0;
    transform: translateY(150px);
    transition: all 1s ease-out;
}

.scroll-fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}

.animate-soft-bounce {
    animation: soft-bounce 2s ease-in-out infinite;
}

/* element soft bounce */
@keyframes soft-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

/* timetale tabs styling */
.timetable-slot-d {
    background-color: rgb(136 136 102 / 0.33);
    height: 8rem;
    padding: 1rem;
    text-align: center;
    font-size: 2.25rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.timetable-slot-l {
    background-color: rgba(218, 219, 207, 0.5);
    height: 8rem;
    padding: 1rem;
    text-align: center;
    font-size: 2.25rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}